
.custom-body2 {
	font-family: Open Sans;
	background-color:none;
	background-size:cover;
	color: #09021a53;
}

.custom-body {
	font-family: sans-serif;
	background: linear-gradient(45deg, #000, #6303B1, #ff0099);
	background-attachment: fixed;
	color: #333333;
}


h1 {
	font-weight: bold;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, serif;
	text-align: center;
}
.container {
	width: 1024px;
	margin-left: auto;
	margin-right: auto;
	min-height: 400px;
	max-width: 100%;
	align-items: center;
	/* display: flex; */
}

.container canvas{
	position: absolute;
	width: 100%;
	z-index: -1;
}

.grid-container {
	float:	left;
	width: 210px;
	min-height: 250px;
	text-align: center;
	width: 50%;
	display: table;
	margin: auto;	
}

.grid-container h2 {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, serif;
}

.grid {
	/* background-color:  #9173ff; */
	background-color: #f9f9f9; 
	width: 270px;
	height: 270px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 5px;
	overflow: auto;
	color: #f9f9f9;
	padding: 5px;
}

.row {
	width: 100%;
	height: 33.3%;
	align-items: center;
	justify-content: center;
	align-content: center;
	margin-left: .1%;
}
.cell {
	/* width: 68px;
	height: 68px; */
	width: 31%;
	height: 93%;
	float: left;
	text-align: center;
	font-size: 150%;
	font-family: Arial, Helvetica, serif;
	font-weight: bold;
	position: relative;
	border-radius: 7.5px;
	margin: 2px;
	justify-content: center;
	box-sizing: border-box;
	/* background-color: #f9f9f9; */
	background-color:  #9173ff;

	/* border: solid black .5px; */
}

#empty {
	background-color: rgba(0, 0, 0, 0);
}
#empty-solve {
	background-color: rgba(0, 0, 0, 0);
}
.cell-solve{
	display: block;
	transform: translateY(70%);
	cursor: pointer;
	width: 31%;
	height: 93%;
	float: left;
	text-align: center;
	font-size: 150%;
	font-family: Arial, Helvetica, serif;
	font-weight: bold;
	position: relative;
	border-radius: 7.5px;
	
	margin: 2px;
	justify-content: center;
	box-sizing: border-box;
}

.start .cell {
	cursor: pointer;

}
.cell:hover {
	background-color: rgb(71, 37, 175);
	background-color: rgb(71, 37, 175);
}

.cell span {
	display: block;
	transform: translateY(70%);
}
.solver {
	display: flex;
	flex-direction: column;
	padding-top: 10px;
	padding-bottom: 5px;
}

.solver div{
	padding: 5px;
	min-height: 50px;
}

.solver button{
	min-height: 40px;
	min-width: 50px;
	border-radius: 2px;
	border-width: 0px;
	font-weight: bold;
	cursor: pointer;
}

#solveButton {
	background-color: rgb(249, 90, 0);
	color: azure	;
}

#solveButon:hover {
	background-color: rgb(255, 149, 1);
	/* cursor: pointer; */
	/* background-color: white; */
}

#shuffleButton {
	background-color: rgb(11, 166, 0);
	color: azure	;
}
#panel {
	width: 100%;
	background-color: rgb(7,7,94);
	min-height: 100px;
	color: white;
	font-weight: bold;
	margin: auto;
	padding: 5px;
	font-family: Arial, Helvetica, serif;
	text-align: left;
}


@media only screen and (max-width: 800px) {
	#goal {
			display: none;
	}
}

.top-padding{
	padding-top: 100px;
}

.popup {
    
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    z-index: 9999; /* Ensure it's above other content */
    overflow: auto; /* Enable scrolling if content overflows */
}

.popup-content {
    background-color: #fefefe;
    margin: 15% auto; /* Center the popup vertically and horizontally */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* Close button style */
#exitButton {
    background-color: #ff7d74;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

/* learnRow */
.styled-button {
	margin-top: 5px;
	padding: 5px 13px;
	border: none;
	background-color: #9173ff; 
	color: #ffffff;
	font-size: 16px;
	cursor: pointer;
	border-radius: 5px;
	transition: background-color 0.3s ease;
}
.styled-button:hover {
	background-color: #9ae7fa;
}

.title-layout{
	font-size: x-large;
}

#header{
	font-weight: bold;
}

#left{
	text-align: left;

}
#homeDive{
	text-align: center;
}


/* Show me How && Stack and Slide straetgy buttons: */

.instructions-container {
    display: none; /* Initially hide the instructions */
	position: absolute; 
    padding: 20px;
	background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 5px;
	margin-left:0%;
	margin-right:8%;
	z-index: 1; 
	
}

.strategy-container {
    display: none;
	position: absolute; 
    padding: 20px;
	margin-top: 5px;
	background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
	margin-right:8%;
	margin-left:0%;
	z-index: 2;
}
.center{
	text-align: center;
	margin-top: 5%;
}

.check_container{
	padding-top: 2%;
	max-width: 100%;
    padding: 0%;
}

.passed-icon {
	padding-top: 2%;
    color:rgb(242, 220, 23); /* Color for passed questions */
	font-size: 700%;

	
}
.failed-icon {
	padding-top:12%;
     color:rgb(164, 164, 164); /* Color for passed questions */
	font-size: 600%;
}


.stars_icon{
    color: #9ae7fa;
  

   
}

.star_container{
    max-width: 100%;
    padding: 0%;
}

.card-title{
	color: #2b136f;
	font-weight: bold;
}

.card-text{
	color: #2b136f;
}



.Q-card {
    border: 1px solid #ccc; /* Add border */
    border-radius: 5px; /* Add border radius for rounded corners */
    padding: 10px; /* Add padding inside the card */
    margin-bottom: 10px; /* Add margin between cards */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow effect */
    background-color:#f9f9f9; /* Set background color */
    
}

#click{
	padding-right: 2%;
	font-size: larger;
	
	text-align: left;

}

.click-card {
   
    border-radius: 10px; /* Add border radius for rounded corners */
    padding: 2%; /* Add padding inside the card */
    margin-top:4%; /* Add margin between cards */
	margin-left: 12%;
	margin-right: 12%;
	
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow effect */
	background-color:  #fbfbfb;

}

.cursor{
	color: #41707c;
	/* color: #e13e80; */
	padding-bottom: 2%;
	padding-left: 50%;
}

.number{
	color: #9173ff;
	
	
	/* color: #64e0ff; */
	font-weight: bold;
}

.house{
	padding-right: 2%;
}
.no-pad{
	margin-top: 0%;
}

.step-box{
	margin-left: 10%;
	
}

.top-padding-less{
padding-top: 20%;
}

.step-box{
	padding-top: 20%;
}

.correct_cell_color{
	background-color: #9173ff;
}
#startButton {
    border: none;
    background-color:  #d4cdf7;/* Adjust the alpha value (0.8) to control transparency */
    color: hsl(0, 100%, 98%);
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    padding:5% 6%; /* Consolidated padding */
}

#startButton:hover {
    background-color: rgba(175, 222, 234, 0.8); /* Adjust the alpha value (0.8) for hover state */
}

.example{
	border-style: inset;
	border-radius: 5%;

}

#phase{
font-size: larger;
padding-top: 3%;
font-weight: bold;

}

#descr{
	padding-bottom: 2%;
	font-weight: bold;

}
#timer{
	padding-top: 3%;
}

#bold{
font-weight: bold;
}
.timer-card{
	
	border: 1px solid #ccc; /* Add border */
    border-radius: 10px; /* Add border radius for rounded corners */
    padding:0%;
    margin-top:4%; /* Add margin between cards */
	margin-left: 30%;
	margin-right: 30%;
	font-size: 200%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow effect */
    background-color: rgba(169, 169, 169, 0.3); /* Set background color with transparency */

}

.slow-spin {
	-webkit-animation: fa-spin 6s infinite linear;
	animation: fa-spin 6s infinite linear;
  }

  /* homepage */
  .title-container {
	margin-left: 50px;
	margin-top: 200px; 
	text-align: left;

  }

  .title {
	font-size: 48px;
	color: #fff2f2;
	margin: 0;
	text-align: left; 

  }

  .subtitle {
	font-size: 24px;
	color: #9ae7fa;
	margin: 0;
	margin-top: 20px;
	text-align: left;
  }
  

  .pad{
	margin-top: 50%;
  }

.navcolor{
	background-color: #2b136f;
	/* background-color: #ff7d7d; */
	
  }

.navwordscol{
	color: #f9f9f9;
}

.stepcol{
	color: #2b136f
}
.stepcol2{
	color: #2b136f;
}


.color{
	background-color: #2b136f;
}

.intruction-card{
	
    border-radius: 10px; /* Add border radius for rounded corners */
    /* margin-top:8%; Add margin between cards */
	margin-left: 12%;
	margin-right: 12%;
    box-shadow: 0 4px 8px rgba(1, 0, 0, 0.1); /* Add shadow effect */
    
	padding: 8%;
	background-color:  #fbfbfb;

}

.p{
	padding-top: 5%;
	padding-bottom: 4%;


}


#success-card{
	display: none;
}


.click-card2 {
    
    border-radius: 10px; /* Add border radius for rounded corners */
    padding: 2%; /* Add padding inside the card */
    margin-top:4%; /* Add margin between cards */
	margin-left: 30%;
	margin-right: 30%;
    box-shadow: #2b136f;
	border-style:inset;
	
    background-color: #9ae7fa;
	z-index: 9999;
}
.green{
	
	font-weight: bolder;
	 color: #2b136f;
}

.success-class {
	font-weight: bolder;
	color: #2b136f;
	background-color: #64e0ff;
	border-color: #2b136f;
	border-width: 3px;
	width: 100px;
	height: 35px;
	border-radius: 4px;
	text-align: center;
	line-height: 35px;
	vertical-align: middle;
	margin-left: 40%;
	margin-bottom: 5px;
  }
  .failed-class {
	font-weight: bolder;
	color: #64e0ff;
	background-color: #2b136f;
	border-color: #64e0ff;
	border-width: 3px;
	width: 100px;
	height: 35px;
	border-radius: 4px;
	text-align: center;
	line-height: 35px;
	vertical-align: middle;
	margin-left: 40%;
	margin-bottom: 5px;
  }
  
  .whyButton{
	margin-top: 5px;
	padding: 5px 13px;
	border: none;
	background-color: #9173ff; 
	color: #ffffff;
	font-size: 16px;
	cursor: pointer;
	border-radius: 5px;
	transition: background-color 0.3s ease;
	margin-left:10%;
  }


  /* learnRow */

.styled-button:hover {
	background-color: #9ae7fa;
}

  #whyTho{
	margin-left:12%;
  }

.pad-container{
	margin-top: 20%;
}

.but-pad{
	margin-top: 38%;
}

.white{
	color:white;
}

